{% extends "core/base.html" %}
{%  load i18n %}
{% block content %}
<div class="page-inner">
<!--Page content-->
<!--===================================================-->
    <div class="row">
        <div class="col-xs-12 col-md-12 ml-auto mr-auto">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{% trans 'Welcome to Telefonica Dashboard' %}</h3>
                </div>
                <!--Horizontal Form-->
                <!--===================================================-->

                <!--===================================================-->
                <!--End Horizontal Form-->
            </div>
        </div>
    </div>
</div>
{% endblock content %}
